@charset "UTF-8";

/* 共通部分 */
html{
	font-size
}

body {
	font-family:"Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height:1.7;
	color:#432;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
table {
	border-collapse: collapse;
}
table th, table td {
	text-align: center;
	border: solid 1px black;
	padding: 10px 20px;
}
input {
    margin: 20px;
}

input[type="text"] ,input[type="password"] {
	border-width: 0px 0px 1px 0px;
    border-style: solid;
}

input[type="submit"]{
	font-size: 1rem;
	background: yellowgreen;
	color: #fff;
	border-radius: 5px;
	padding: 10px 50px;
}
input[type="submit"]:hover {
	background: #0090aa;
}

/* header */
.logo {
	width: 180px;
	margin-top: 9px;
}

.main-nav {
	display: flex;
	font-size:1.25rem;
	text-transform: uppercase;
	margin-top: 34px;
	list-style: none;
}

.main-nav li {
	margin-left: 36px;
}

.main-nav a {
	color: #432;
}
.main-nav a:hover {
	color: #0bd;
}

.page-header {
	display: flex;
	justify-content: space-between;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 4%;
}

/* HOME */
.home-content {
	text-align:center;
	margin-top: 5%;
}
.home-content p {
	font-size: 1.125rem;
	margin: 10px 0 40px;
}

/* 見出し */
.page-title {
	font-size: 5rem;
	font-family: 'Philospher', serif;
	text-transform: uppercase;
	font-weight: normal;
}

/* ログイン画面 */
.login-content {
	margin:5% auto;
	padding: 16px;
	width:250px;
	border-width: medium;
	border-color: darkgrey;
    border-style: solid;
    border-radius: 8px;;
}
.login-content p {
	text-align:center;
}
.login-content a{
	margin: 0 20px;
}
/* ログアウト画面 */
.logout-content {
	margin:5% auto;
	padding: 16px;
	width:250px;
	border-width: medium;
	border-color: darkgrey;
    border-style: solid;
    border-radius: 8px;;
}
.logout-content p {
	text-align:center;
}
.logout-content a {
	font-size: 1rem;
	background: yellowgreen;
	color: #fff;
	border-radius: 5px;
	padding: 10px 10px;
	text-align:center;
}
.logout-button {
	margin: 20px 10px 15px 33px;
}
/* 新規登録画面 */
.register-content {
	margin:5% auto;
	padding: 16px;
	width:250px;
	border-width: medium;
	border-color: darkgrey;
    border-style: solid;
    border-radius: 8px;;
}
.register-content p {
	text-align: center;
}
.register-button {
	margin: 20px 10px 15px 33px;
}
.register-button a {
	font-size: 1rem;
	background: yellowgreen;
	color: #fff;
	border-radius: 5px;
	padding: 10px 50px;
}
.registresult-button {
	margin: 20px 5px 20px 40px;
}
.registresult-button a {
	font-size: 1rem;
	background: yellowgreen;
	color: #fff;
	border-radius: 5px;
	padding: 10px 10px;
}

/* ボタン */
.buttons {
	margin:0 auto;
	max-width: 250px;
	display: flex;
	flex-direction: column;
}

/* ボタン */
.button {
	font-size: 1.375rem;
	background: yellowgreen;
	color: #fff;
	border-radius: 5px;
	padding: 18px 32px;
}

.button:hover {
	background: #0090aa;
}

/* 大きな背景画像 */
.big-bg {
	background-size: cover;
	background-position: center top;
	background-size: no-repeat;
}

#home {
	background-image: url(../images/field-back.jpg);
	min-height: 100vh;
	background-color: #cc7965;
	background-blend-mode: hard-light;
}

#home .page-title {
	text-transform: none;
}
/* MyPage画面 */
.mypage-top {
	display: flex;
	padding: 30px 0 15px;
}
.mypage-top h1 {
	padding: 10px 10px 10px 0;
}
.mypage-top p {
	padding: 25px 20px 10px;
}
.mypage-middle {
	padding: 15px 0 30px;
}
.mypage-bottom {
	display: flex;
	padding: 30px 0 15px;
}
.mypage-bottom a {
	font-size: 1rem;
	background: yellowgreen;
	color: #fff;
	border-radius: 5px;
	padding: 10px 50px;
	margin-right: 15px;
}

.mypage-bottom a:hover {
	background: #0090aa;
}

/* クイズ回答画面 */
.quiz-content {
	margin:5% auto;
	padding: 16px;
	width:250px;
	border-width: medium;
	border-color: darkgrey;
    border-style: solid;
    border-radius: 8px;
}
/* クイズ結果画面 */
.quiz-result  {
	margin-top: 50px;
}
.quiz-result-button {
	margin-top: 80px;
}
.quiz-result a {
	font-size: 1rem;
	background: yellowgreen;
	color: #fff;
	border-radius: 5px;
	padding: 10px 50px;
	margin-right: 15px;
}
.quiz-result a:hover {
	background: #0090aa;
}